@page "/"
@using Hangfire;

<PageTitle>Soap Simulator Home</PageTitle>
<MudGrid Spacing="3">
    <MudItem xs="12">
        <MudCard Square Style="min-height:400px">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Service Actions @(CurrentConfiguration !=null?$"[{CurrentConfiguration.Name}]":"")</MudText>
            </MudCardHeader>
            <MudCardContent>
                @if (CurrentConfiguration is null)
                {
                    <MudAlert Class="mx-8" Severity="Severity.Warning">No active configuration has been set.</MudAlert>
                }
                else
                {
                    <MudTabs Border>
                        @foreach (var action in CurrentConfiguration.Actions)
                        {
                            <MudTabPanel ToolTip="@action.Description" Text="@action.MethodName">
                                <MudRadioGroup SelectedOption="@action.Status" SelectedOptionChanged="(e)=>UpdateActionStatus(action,e)" Class="pa-4" T="ActionStatus">
                                    @foreach (var item in (ActionStatus[])Enum.GetValues(typeof(ActionStatus)))
                                    {
                                        <MudRadio Color="GetColor(item)" Placement="Placement.Right" Option="item">@item.ToString().Replace("_"," ")</MudRadio><br/>
                                    }
                                </MudRadioGroup>
                                <MudButton OnClick="()=>action.ShowSample = !action.ShowSample" Color='@(action.ShowSample?Color.Info:Color.Default)' Class="ma-3 text-trans-none">@(action.ShowSample?"Hide":"Show") Http POST Urls</MudButton>
                                @if (action.ShowSample)
                                {
                                    <MudPaper Class="pa-3 ma-3">
                                    <p style="font-family: 'JetBrains Mono'">
                                       @foreach (var url in GetRequestSampleUrls(action.MethodName))
                                       {
                                         @url <br />
                                       }                                      
                                    </p>
                                  </MudPaper>
                                }                                
                            </MudTabPanel>
                        }
                    </MudTabs>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudCard Elevation="25">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Service Logs</MudText>
                <MudSpacer />
                <MudCardActions>
                    <MudIconButton Title="Clear all logs." OnClick="()=>ActionLogService.ClearAll()" Icon="@Icons.Material.Filled.ClearAll" />
                </MudCardActions>
            </MudCardHeader>
            <MudCardContent Class="pa-4">
                <div class="console">
                    <p class="console-content pa-2">
                        @foreach (var log in ActionLogService.GetLogs())
                        {
                            @log <br />
                        }
                    </p>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
<style>
    .console {
        background-color: black;
        width: 100%;
        margin: auto;
        height: 300px;
        border-radius: 10px;
        padding: 10px;
        text-align: start;
    }

    .text-trans-none{
        text-transform:none !important;
    }
    .console-content {
        color: white;
        overflow: auto;
        height:100%;
        width:100%;
        font-family: 'JetBrains Mono'
    }
</style>
@inject NavigationManager navMan
@code {
    SystemConfiguration CurrentConfiguration = new();
    protected override async Task OnInitializedAsync()
    {   
        
        CurrentConfiguration = await configurationService.GetCurrentConfigurationAsync();        
        ActionLogService.LogsUpdated += async (s, e) =>
        {
            await InvokeAsync(StateHasChanged);
        };
        var folderPath = Path.Combine(env.WebRootPath, "xml");
        #pragma warning disable CS0618 // Type or member is obsolete
        RecurringJob.AddOrUpdate(() => DeleteUnusableXMLFiles(folderPath), Cron.MinuteInterval(1));
        #pragma warning restore CS0618 // Type or member is obsolete
    }
    Color GetColor(ActionStatus status) => status switch{
        ActionStatus.Failure => Color.Error,
        ActionStatus.Success => Color.Success,
        ActionStatus.No_Response => Color.Tertiary,
        ActionStatus.Not_Found => Color.Warning,
        ActionStatus.No_Records_Found => Color.Info,
        _ => Color.Default
    };

    public  string [] GetRequestSampleUrls(string name)
    {
        return $"{navMan.BaseUri}soap?m={name},{navMan.BaseUri}soap?method={name},{navMan.BaseUri}soap/{name}".Split(",");
    }
    async void UpdateActionStatus(SoapAction action,ActionStatus status)
    {
        action.Status = status;
        await configurationService.UpdateActionAsync(action);
        ActionLogService.Log(nameof(UpdateActionStatus), $"{action.MethodName} set to {status.ToString().Replace("_", "")}");
        StateHasChanged();
    }
    public void DeleteUnusableXMLFiles(string folderPath)
    {
        var context = new DatabaseContext();
        var actions = context.SoapActions.ToList();
        var files = Directory.GetFiles(folderPath);       
        foreach (var file in files.Where(f => f.EndsWith(".xml")))
        {
            if (!actions.Any(a => a.Request.XMLFileName == Path.GetFileName(file)) && !actions.Any(a => a.Responses.Any(r => r.XMLFileName == Path.GetFileName(file))))
            {
                File.Delete(file);
                ActionLogService.Log(nameof(DeleteUnusableXMLFiles), $"Deleted UnusableXMLFiles file {file}");
            }
        }
    }
    
}